<!DOCTYPE html>
<html>

<head>
	  <title>Splashpages | <%= yield(:title) %></title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <%= render 'layouts/shim' %>
	</head>
<body style="background:#e8e8e8;">
	
	<%= image_tag 'weSPOT.png', :style => "display: block;margin-left:auto;margin-right:auto;" %>

<div class="container">

  <div class="row">
		<div class="span4 offset4">
		<%= form_tag do %>

	    <%= text_field_tag :email, nil, :placeholder => "Email" %>
	  <% end %>
		</div>
	</div>
</div>
</body>
</html>
<%
=begin %>
<% 
=end %>