<%= provide(:title, 'Search') %>
<h1>Search</h1>

<div class="container">
	<div class="row=">
		<div class="span6 offset3">
			<%= form_tag search_path, :method => 'get' do %>
				<p>
					<%= text_field_tag :search, params[:search] %>
					<%= submit_tag "Search", :name => nil %>
				</p>
			<% end %>
		</div>
	</div>


<ul class="thumbnails">
	<% @profiles.each do |profile| %>
 		<li class="span3">
 			<a href="#" class="thumbnail"><%= image_tag profile.image_url(:thumb).to_s %>
    <%= link_to profile.title, user_profiles_path(profile.user_id) %></a></li>
  <% end %>
</ul>
</div>
