<%= provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="container">
  <div class="row">
    <div class="span6 offset3">
      <%= form_for @user do |f| %>
        <% if @user.errors.any? %>
          <div class="error_messages">
            <h2>Form is invalid</h2>
            <ul>
          	<% for message in @user.errors.full_messages %>
            	  <li><%= message %></li>
              <% end %>
            </ul>
  		</div>
   	 <% end %>

      <%= f.label :business_name %>
      <%= f.text_field :business_name %>

    	<%= f.label :email %>
    	<%= f.text_field :email %>

    	<%= f.label :password %>
    	<%= f.password_field :password %>

      <%= f.label :user_name %>
      <%= f.text_field :user_name, :placeholder => "www.wespot.co/username" %>

    <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
  <% end %>
    </div>
  </div>
</div>
